<script type="text/javascript">
    function radioCheck() {
        var tempr = document.getElementById("login:register").checked;
        if (tempr) {
            document.getElementById("checkout_register").value="register";
        }
        else {
            document.getElementById("checkout_register").value="guest";
        } 
    }
</script>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.isRegister</h2>
<section>
    <div class="full_page">
        <h1>身份选择</h1>
        <!--CHECKOUT STEPS STARTS-->
        <div class="checkout_steps" style="width:990px;">
            <ol id="checkoutSteps">
                <li class="section allow active" id="opc-login">
                    <div class="step-title" style="width:950px;">

                        <h2>选择进入方式</h2>
                    </div>
                    <div id="checkout-step-login">
                        <div class="col2-set">
                            <form method="post" id="register-form" action="~/User/RegisterPage" onsubmit="radioCheck();">
                                <div class="col-2"style="float:left;margin-left:130px; margin-right:40px; margin-top:60px;" >
                                    <h3>以 游客/注册 进入</h3>
                                    <p>注册后更加方便：</p>
                                    <ul class="form-list">
                                        <li class="control">
                                            <input type="radio" class="radio" value="guest" style="margin-left:-100px;" id="login:guest" name="checkout" />
                                            <label style="margin-left:-100px;">以游客身份进入</label>
                                        </li>
                                        <li class="control">
                                            <input type="radio" class="radio" value="true" style="margin-left:-100px;" id="login:register" name="checkout" checked="checked" />
                                            <label style="margin-left:-100px;">注册</label>
                                            <input type="hidden" value="none" id="checkout_register" name="checkout_register" />
                                        </li>
                                    </ul>
                                    <h4>注册以获取更快捷的服务：</h4>
                                    <p>
                                        <ul class="ul">
                                            <li>快捷的验证方式</li>
                                            <li>快速查询订单历史和状态</li>
                                        </ul>
                                    </p>
                                    <div class="buttons-set">
                                        <input class="button brown_btn" type="submit" value="下一步">
                                    </div>
                                </div>
                            </form>
                            <form method="post" id="login-form" action="~/User/Login">
                                <div class="col-2" style="float:left; margin-left:150px; margin-top:28px;">
                                    <h3>@TempData["message"]</h3>
                                    <h3>登录</h3>
                                    <fieldset>
                                        <h4>已经注册？</h4>请在下方登录：
                                        <ul class="form-list">
                                            <li>
                                                <label class="required" for="login-email"><em>*</em>用户名</label>
                                                <div class="input-box">
                                                    <input name="username" type="text" class="input-text" />
                                                </div>
                                            </li>
                                            <li>
                                                <label class="required" for="login-password"><em>*</em>密码</label>
                                                <div class="input-box">
                                                    <input name="password" type="password" class="input-text" />
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">忘记密码？</a>
                                            </li>
                                        </ul>
                                        <br />
                                    </fieldset>
                                    <div class="buttons-set">
                                        <input class="button brown_btn" type="submit" value="登录" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>

            </ol>
        </div>
        <!--CHECKOUT STEPS ENDS-->

    </div>
    <!--Newsletter_subscribe Starts-->

    <div class="subscribe_block">
        <div class="find_us">
            <h3>联系我们</h3>
            <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a>
        </div>
        <div class="subscribe_nl">
            <h3>发送至我们的邮箱</h3>
            <small>如果您在使用中有任何问题或者建议，请邮箱联系我们</small>
            <form id="newsletter" method="post" action="#">
                <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email" />
                <button class="button" title="" type="submit"></button>
            </form>
        </div>
    </div>
    <!--Newsletter_subscribe Ends-->
</section>
<!--Mid Section Ends-->